
.h1 {
  padding: 40px;
}

.ol_v {
  border-style: solid ;
  border-width: 2px;
  margin: 25px;
  border-color: rgb(189, 7, 7);
  width: 150px;
  
}
.ol_d {
  border-style: solid ;
  border-width: 2px;
  margin: 25px;
  border-color: rgb(20, 187, 90);
  width: 150px;
}
.ol_t {
  border-style: solid ;
  border-width: 2px;
  margin: 25px;
  border-color: rgb(108, 31, 196);
  width: 150px;

  }

  .h2 {
    margin-left: 50px;
  }